@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Thin.ttf');
    font-weight: 100;
    font-style: normal;
  }
  @font-face {
    font-family: 'LemonMilk';
    src: url('../fonts/LemonMilk.ttf');
    font-weight: 100;
    font-style: normal;
  }
    @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway.ttf');
    font-weight: 100;
    font-style: normal;
  }

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

body{
	font-family: Arial, sans-serif;
}

nav{
	width: 100%;
	height: 60px;
	background:rgba(42, 154, 235, 1);
	padding-left: 5px;
	position:fixed;
	z-index: 999999;
}

/*кнопка звонка*/

.callback-bt {
        background:#38a3fd;
        border:2px solid #38a3fd;
        border-radius:50%;
        box-shadow:0 8px 10px rgba(56,163,253,0.3);
        cursor:pointer;
        height:68px;
        text-align:center;
        width:68px;
        position: fixed;
        left: 25px;
        top: 630px;
        z-index:999;
        transition:.3s;
        -webkit-animation:hoverWave linear 1s infinite;
        animation:hoverWave linear 1s infinite;
}

.callback-bt .text-call{
        height:68px;
        width:68px;        
        border-radius:50%;
        position:relative;
        overflow:hidden;
}

.callback-bt .text-call span {
    text-align: center;
    color:#38a3fd;
    opacity: 0;
    font-size: 0;
        position:absolute;
        right: 4px;
        top: 22px;
    line-height: 14px;
        font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif;
}

.callback-bt .text-call:hover span {
    opacity: 1;
        font-size: 11px;
}
.callback-bt:hover i {
    display:none;
}

.callback-bt:hover {
        z-index:1;
        background:#fff;
        color:transparent;
        transition:.3s;
}
.callback-bt:hover i {
        color:#38a3fd;
        font-size:40px;
        transition:.3s;
}
.callback-bt i {
        color:#fff;
        font-size:34px;
        transition:.3s;
        line-height: 66px;transition: .5s ease-in-out;
}

.callback-bt i  {
    animation: 1200ms ease 0s normal none 1 running shake;
        animation-iteration-count: infinite;
        -webkit-animation: 1200ms ease 0s normal none 1 running shake;
        -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}@keyframes hoverWave {
        0% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 0 rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
40% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 15px rgba(56,163,253,0.2),0 0 0 0 rgba(56,163,253,0.2)
}
80% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 26.7px rgba(56,163,253,0.067)
}
100% {
        box-shadow:0 8px 10px rgba(56,163,253,0.3),0 0 0 30px rgba(56,163,253,0),0 0 0 40px rgba(56,163,253,0.0)
}
}

/* animations icon */

@keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}

@-webkit-keyframes shake {
0% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
10% {
    transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
}
20% {
    transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
}
30% {
    transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
}
40% {
    transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
}
50% {
    transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
}
60% {
    transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
}
70% {
    transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
}
80% {
    transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
}
90% {
    transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
}
100% {
    transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
}
}
/* конец кнопки звонка */


.logo{
	font-family: 'LemonMilk', sans-serif;
	color:yellow;
	font-size: 15px;
	line-height: 60px;
	background: url("https://центр.ответпсихолога.рф/images/12.png") left no-repeat;
	padding-left: 65px;
	float:left;
	margin-right: 50px;
	animation:comming 2s ease;
	text-transform: uppercase;

}


.menu{
	float:left;
	margin-left: 180px;
	font-family: 'LemonMilk',sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.menu li{
	float: left;
	line-height: 60px;
	color:yellow;
	margin-right: 15px;
	text-transform: uppercase;
	animation:topshift 0.4s ease forwards;
	opacity: 0;
}

main{
	/*width: 100%;
	height: 100%;*/
	width: 1445px;
	height: 768px;
	background:  url("../img/mainpic.png") center/cover no-repeat;
}
.menuright{
	position: fixed;
	right: 20px;
	top:330px;
	z-index: 999998;
	opacity: 0.8;
}

.boxmenu{
	height: 240px;
	width: 100px;
	position:fixed;
	top:440px;
	opacity: 0;
	visibility: hidden;
	transition: 0.7s;
	font-family: 'Franklin Gothic Medium',sans-serif;
	font-size: 17px;
	font-weight: bold;
}

.elmenu{
	height: 40px;
	border: 2px solid yellow;
	border-radius: 10%;
	background-color: #F0FFFF;
	color: blue;
	padding: 3px;
	text-align: center;	
}

.imgmenu:hover ~.boxmenu{
	visibility: visible;
	opacity: 1;
}

.imgmenu:hover {
	opacity: 0.5;
}

.boxmenu:hover{
	visibility: visible;
	opacity: 1;
}
.title_conteiner{
	display: inline-block;
	color: rgba(42, 154, 235, 1);
		/*opacity: 0;
		animation:titlemove 1s ease forwards;
		animation-delay:2.4s;*/
}

.title_conteiner h1{
	font-family: 'Gilroy', sans-serif;
	margin-top: 122px;
	margin-left: 30px;
	font-size: 49pt;
	text-transform: uppercase;
	color: black;
	font-weight: 800;
	width: 1000px;
}

.title_conteiner h3{
	font-family: 'Gilroy', sans-serif;
	margin-left: 30px;
	margin-bottom: 40px;
	font-size: 38pt;
	text-transform: uppercase;
	color: black;
	font-weight: 800;
	width: 1000px;
}

.title_conteiner h4{
	font-size: 8.5pt;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	width: 700px;
	font-weight: 600;
	color: #56606e;	
}

.title_conteiner h5{
	width: 100px;
	font-size: 8.5pt;
	margin-left: 220px;
	margin-top: 50px;
	font-family: 'LemonMilk', sans-serif;
	font-size: 26px;
	width: 700px;
	font-weight: 400;
	color: yellow;	
}

.title_conteiner input{
	height:40px;
	border:2px solid #79818d;
	background: none;
	border-radius: 5px;
	padding:10px 15px 33px 15px;
	margin-top: 20px;
	font-size: 20px;
	color: #56606e;
	font-weight: 400;
}
.tcinput{
	margin-right: 385px;
	margin-top: 40px;
	font-family: 'Franklin Gothic Medium',sans-serif;
	text-align: center;
}



.inform{
	color:#263244;
	text-align: center;
	margin-top: 250px;
	text-transform: uppercase;
}

.inform h3{
	font-size: 30px;
}

.inform span{
	margin-right: 40px;
}

.inform input{
	height:40px;
	text-align: center;
	border:2px solid #79818d;
	background: url(../img/read.jpg) no-repeat;
	border-radius: 5px;
	color: #79818d;
	padding: 0px 40px 0px 60px;
	margin: 10px 6px 0px 6px;
	font-weight: bold;
}

.yslg{
	margin-left: 60px;
	margin-top: 80px;
	color:#263244;
}

.yslg h2{
	font-size: 30px;
	text-align: center;
}

.yslg2 div{
	float: left;
	margin: 25px 40px;
	width: 200px;
	height: 150px;
}

.polosa{
	margin:20px 0px 30px 600px;
	height: 5px;
	width: 90px;
	border-bottom: 4px solid orange;
}

.predl img{
	margin-left: 80px;
}

.predl h2{
	text-align: center;
	font-size: 30px;
	color: #263244;
	margin-top: 480px;
	text-transform: uppercase;
}

.predl2{
	float: left;
	margin: 0px 0px 0px 80px;
	/*display: inline-block;*/
	width: 200px;
}

.predl2 h3{
	margin-top: 20px;
	font-size: 20px;
	text-transform: uppercase;
	color:#384354;
}

.predl2 p{
	font-size: 17px;
	margin-top: 10px;
	color:#636a76;
}

.predl2 a{
	font-size: 17px;
	color: #636a76;
}

.cost h2{
	margin: 350px 0px 40px 0px;
	font-size: 30px;
	text-align: center;
}

.cost h3{
	font-size: 20px;
	margin: 0px 0px 22px 300px;
	text-transform: uppercase;
}

.cost select{
	width: 650px;
	font-size: 16px;
	margin: 0px 0px 35px 300px;
	padding: 9px 10px 10px 14px;
	background: #eeeeee;
	border:1px solid #263244;
	color:#263244;
}

.cost p{
	font-size: 18px;
	margin: 0px 0px 12px 300px;
}

.cost2{
	display: inline-block;
	width: 630px;
}

.stat{
	/*height: 600px;*/
	margin-top: 80px;
	/*background: url("https://phonoteka.org/uploads/posts/2021-05/1620186403_17-phonoteka_org-p-fon-dlya-statistiki-19.jpg") no-repeat;*/
/*	background-size: 100%;
*/
}

.stat h3{
	padding-top: 130px;
	font-size: 30px;
	text-transform: uppercase;
	color:#263244;
	text-align: center;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
  transform: translateZ(-1px);
}

/* centre the content in the parallax layers */
  .title {
    position: absolute;
    /*left: 50%;*/
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    /*transform: translate(-50%, -50%);*/
    transform: translate(-50%, -50%);
  }

.statpic{
	float:left;
	margin: 450px 80px 20px 80px;
	width: 150px;
	display: inline-block;
	text-align: center;
}

.statpic p{
	text-transform: uppercase;
	color: #263244;
	font-size: 15px;
	font-weight: 800px;
}

.otzv{
	margin-top: 100px;
}

.otzv h3{
	margin-top:80px; 
	text-align: center;
	font-size: 30px;
	color: #263244;
}

.otzv p{
	text-align: center;
	color: #263244;
	margin: 20px 300px;
	font-size: 17px;
}

.name{
	text-align: center;
	color: #263244;
	margin: 20px 0px 20px 530px;
	font-weight: 600;
}

.otzv img{
	display:block;
	margin:auto;
}

.contact{
	height: 1200px;
	background: url("https://www.wallpaperflare.com/static/908/261/65/lines-strokes-blue-background-wallpaper.jpg");
	text-align: center;
	color:white;

}

.contact h3{
	margin-top: 80px;
	padding-top: 55px;
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact h3:hover{
	animation:comming 2s ease;
}

.contact p{
	font-size: 17px;
}

.contactpic{
	float:left;
	margin: 50px 80px 20px 140px;
	width: 200px;
}

.contactpic img{
	margin: 30px 0px 30px 0px;
}

.contact input{
	font-size: 16px;
	margin: 10px 0px 10px 0px;
	padding: 9px 10px 10px 14px;
	background: #eeeeee;
	border:1px solid #263244;
	color:#263244;
}

#gc{
	margin-top: 30px;
	width: 80%;
	height: 350px;
}

#taxtar1{
	margin-right: 5px;
}

.copyright{
	margin-top: 30px;
}

.menu li a{
	transition:all 0.1s;
	display: inline-block;
	transform:scale(1);
}

.menu li a:visited{
	color:white;
}

.menu li a:hover{
	color:yellow;
	
}

.menu li a:active{
	transform:scale(1.1);
}

.title_conteiner input{
	transition:all 0.2s;
	transform: scale(1);
}

.title_conteiner input:hover{
	background-color: rgba(42, 154, 235, 1);
	color:white;
}

.title_conteiner input:active{
	transition:all 0.2s;
	transform:scale(1.1);
}

@keyframes comming{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@keyframes topshift{
	from{
		opacity: 0;
		margin-top:-80px;

	}
	to{
		opacity: 1;
		margin-top: 0px;
	}

}

.menu li:nth-child(2){
	animation-delay: 0.4s;
}

.menu li:nth-child(3){
	animation-delay: 0.8s;
}

.menu li:nth-child(4){
	animation-delay: 1.2s;
}

.menu li:nth-child(5){
	animation-delay: 1.6s;
}

.menu li:nth-child(6){
	animation-delay: 2.0s;
}

@keyframes titlemove{
	from{
		opacity: 0;
		margin-left:-200px;

	}
	to{
		opacity: 1;
		margin-left: 5px;
	}

}

.inform input{
	transition:all 0.2s;
	transform:scale(1);
}

.inform input:hover{
	background-color: rgba(42, 154, 235, 1);
	color:white;
}
.inform input:active{
	transition:all 0.2s;
	transform:scale(1.1);
}

.predl input{
	height:40px;
	text-align: center;
	border:2px solid #63b5ae;
	border-radius: 5px;
	color: #63b5ae;
	padding:0px 10px;
	margin-top:10px;
	font-weight: bold;
	transition:all 0.2s;
	transform: scale(1);
}

.predl input:hover{
	background-color: rgba(42, 154, 235, 1);
	color: white;
}

.predl input:active{
	transition: all 0.2s;
	transform: scale(1.1);
}

.contact input[type=submit]{
	color:rgba(42, 154, 235, 1);
	transition:all 0.2s;
	transform: scale(1);
}

.contact input:hover[type=submit]{
	background-color: rgba(42, 154, 235, 1);
	color: white;
}

.contact input:active[type=submit]{
	transition:all 0.2s;
	transform: scale(1.1);
}
